@font-face {
  font-family: 'Lora';
  src: url('../fonts/Lora-Regular.eot');
  src: url('../fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Lora-Regular.woff2') format('woff2'),
  url('../fonts/Lora-Regular.woff') format('woff'),
  url('../fonts/Lora-Regular.ttf') format('truetype'),
  url('../fonts/Lora-Regular.svg#Lora-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../fonts/Avenir-Light.eot');
  src: url('../fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Avenir-Light.woff2') format('woff2'),
  url('../fonts/Avenir-Light.woff') format('woff'),
  url('../fonts/Avenir-Light.ttf') format('truetype'),
  url('../fonts/Avenir-Light.svg#Avenir-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lyon Display';
  src: url('../fonts/LyonDisplay-Regular.eot');
  src: url('../fonts/LyonDisplay-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LyonDisplay-Regular.woff2') format('woff2'),
  url('../fonts/LyonDisplay-Regular.woff') format('woff'),
  url('../fonts/LyonDisplay-Regular.ttf') format('truetype'),
  url('../fonts/LyonDisplay-Regular.svg#LyonDisplay-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  src: url('../fonts/Kalam-Regular.eot');
  src: url('../fonts/Kalam-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Kalam-Regular.woff2') format('woff2'),
  url('../fonts/Kalam-Regular.woff') format('woff'),
  url('../fonts/Kalam-Regular.ttf') format('truetype'),
  url('../fonts/Kalam-Regular.svg#Kalam-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-lora: 'Lora', sans-serif;
$font-avenir: 'Avenir', sans-serif;
$font-lyon: 'Lyon Display', sans-serif;

$color_141414: #141414;
$color_bfb5d7: #bfb5d7;
$color_ffffff: #ffffff;
$color_000000: #000000;
$color_rgba_20_20_20__45: rgba(20, 20, 20, 0.45);
$color_rgba_20_20_20__70: rgba(20, 20, 20, 0.70);
$color_a89fbd: #a89fbd;
$color_f1f0f4: #f1f0f4;
$color_rgba_168_159_189__40: rgba(168, 159, 189, .4);
$color_cccccc: #cccccc;
$color_2196F3: #2196F3;
$color_fac800: #fac800;
$color_gradient_f7f6f9_ffffff: linear-gradient(to top, #f7f6f9, #ffffff);
$color_f7f6f9: #f7f6f9;