/* -- grid fix -- */
.fw-col-xs-12{
  min-height:2px!important;
  width:100%;
}

.fw-col-xs-6{
  min-height:2px!important;
  width:50%;
  float: left;
}

/* fw-container-fluid width 100% without padding and margin */
div.fw-container-fluid {
  padding-left:0;
  padding-right:0;

  .fw-row{
    margin-left: 0;
    margin-right: 0;
  }

  .fw-row div:first-child{
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) { /* mobile */
  .g_mobile_background_display_none{
    background-image: none!important;
  }
}