header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
  padding-top: 0;
  will-change: transform;
  transition: height 0.5s linear;
  -moz-transition: height 0.5s linear, opacity 0.3s linear;
  -webkit-transition: height 0.5s linear, opacity 0.3s linear;
  -o-transition: height 0.5s linear, opacity 0.3s linear;
  -ms-transition: height 0.5s linear, opacity 0.3s linear;
  overflow: initial;
  opacity: 1;
  margin-top:20px;
  transition-property: margin-top;
  transition-duration: 0.3s;

  .container {
    display: flex;
  }

  #primary-menu {
    float: right;
  }

  #primary-menu a {
    padding: 22px 0 22px 0;
  }

  .custom-logo-link {
    display: block;
    line-height: 0;
  }

  .custom-logo-link img {
    width: 135px;
  }

  #primary-menu li.active a {
    color: #1086c2;
  }

  .site-logo {
    display: flex;
    align-items: center;
    position: relative;
    top: -2px;
  }

  ul#primary-menu li {
    margin-right: 36px;
  }

  #primary-menu ul.sub-menu li {
    margin-right: 0;
    display: block;
    position: relative;
    float: none;
  }

  ul#primary-menu ul.sub-menu {
    min-width: 200px;
    /* white-space:nowrap; */
  }

  ul#primary-menu ul.sub-menu {
    padding-left: 20px;
    padding-right: 20px;
  }

  ul#primary-menu li a {
    color: #ffffff;
    font-family: $font-lyon;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  }

  i.has_sub-menu:after {
    content: "\f107";
    font-family: FontAwesome, sans-serif;
    position: relative;
    display: inline-block;
  }

  i.tangle.has_sub-menu {
    color: #ffffff;
    font-size: 18px;
    margin-left: 10px;
  }

  /* --key-- */

  a.header_resident_portal_btn {
    color: #7c7a7d;
    font-family: $font-lyon;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    white-space: nowrap;
    padding: 10px 12px 10px 18px;
    background-color: #ffffff;
    display: inline-block;
    height: 36px;
    margin-top: 12px;
  }

  a.header_resident_portal_btn i.fa-key {
    margin-left: 10px;
    transform: scale(1, -1) rotate(-45deg);
  }

  .site-logo-default{
    display: flex;
  }

  .site-logo-scroll{
    display: none;
  }
}

header.js_menu_display_none{
  opacity: 0;
}

header.js_menu_scroll_now{
  background-color: #ffffff;
  margin-top:0;

  .site-logo-default{
    display: none;
  }

  .site-logo-scroll{
    display: flex;
  }

  ul#primary-menu li a{
    color: #141414;
  }

  a.header_resident_portal_btn{
    background-color: #141414;
    color: #ffffff;
  }

  ul#js_i_menu li.menu_mobile_bar__one,
  ul#js_i_menu li.menu_mobile_bar__two,
  ul#js_i_menu li.menu_mobile_bar__three{
    background-color: #141414;
  }

  i.tangle.has_sub-menu{
    color: #141414;
  }
}

@media screen and (min-width: 1200px) {
  header {
    .button-menu-toggle {
      display: none;
    }
    .main-navigation ul {
      display: block;
    }
    ul#primary-menu ul.sub-menu li a{
      min-width: 100%;
    }
  }

  header.js_menu_scroll_now{
    ul#primary-menu ul.sub-menu{
      background-color: #ffffff;
    }
  }
}

@media screen and (max-width: 1199px) {
  header {
    .button-menu-toggle {
      display: inline-block;
      float: right;
      margin-top: -48px;
      margin-right: 20px;
    }

    .main-navigation ul.sub-menu {
      position: relative;
      float: none;
    }

    .container {
      display: block;
    }

    #primary-menu,
    #primary-menu li {
      float: none;
    }

    #primary-menu li.focus .sub-menu {
      margin-left: 20px;
      float: none;
      position: relative;
    }

    .main-navigation ul ul {
      box-shadow: none;
    }

    .sub-menu {
      display: none;
      padding-left: 20px;
    }

    .sub_menu_open {
      display: block;
    }

    .site-logo {
      height: 75px;
    }

    ul#primary-menu li a {
      margin-left: 0;
      padding-left: 50px;
    }

    ul.sub_menu_open {
      left: 0;
    }

    a.custom-logo-link {
      margin: 0 auto;
    }

    a.header_resident_portal_btn {
      display: none;
    }

    ul#primary-menu {
      text-align: left;
    }

    div#menu-top-container {
      text-align: center;
    }

    ul#js_i_menu {
      display: block;
    }

    ul#js_i_menu li.menu_mobile_bar__one {
      width: 26px;
      height: 2px;
      background-color: #ffffff;
      float: none;
    }

    ul#js_i_menu li.menu_mobile_bar__two {
      width: 20px;
      height: 2px;
      background-color: #ffffff;
      float: none;
      margin-top: 8px;
    }

    ul#js_i_menu li.menu_mobile_bar__three {
      width: 26px;
      height: 2px;
      background-color: #ffffff;
      float: none;
      margin-top: 8px;
    }

    .site-logo img{
      margin:0 auto;
    }
  }
}