header.property{
  margin-top:0;
  background: #ffffff;
}

.property__top_image{
  min-height: 566px;
  padding-top: 204px;
  background-size: cover!important;
  background: url(../img/property/pr_top.jpg) center no-repeat;
}