header.property{
  margin-top:0;
  background: #ffffff;
}

@media (min-width: 1200px) {
  .property .fw-big-container {
    width: 1290px;
  }
}

.property__top_image{
  min-height: 566px;
  padding-top: 204px;
  background-size: cover!important;
  background: url(../img/property/pr_top.jpg) center no-repeat;
}

.pr__description {
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(70%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 70%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);

  position: relative;
  background-size: 100% 80%;
  background-repeat: no-repeat;

  top: -50px;
  margin-bottom: -50px;
  padding:43px 60px;
}

.pr__top_title{
  opacity: 0.45;
  color: #141414;
  font-family: "Lyon Display - Medium";
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.pr__title{
  color: #141414;
  font-family: "Lyon Display - Bold";
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}

.pr__price{
  opacity: 0.7;
  color: #141414;
  font-family: "Avenir Book";
  font-size: 20px;
  font-weight: 300;
  line-height: 28px;
  margin-top:10px
}

.pr__text_block{
  opacity: 0.8;
  color: rgba(20, 20, 20, 0.7);
  font-family: Avenir;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  display:flex;
}

.pr__arrow_back{
  background: url(../img/arrow_left_b.png) center no-repeat;
  width: 54px;
  height:34px;
  cursor:pointer;
}

.pr__one_month_free {
  border-radius: 0 0 2px 2px;
  background-color: $color_fac800;
  display: inline-block;
  position: absolute;
  top: 0;
  color: $color_ffffff;
  padding: 6px 14px;

  opacity: 0.9;
  font-family: $font-avenir;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  right: 200px;
  cursor:pointer;
}

.pr__semi_private {
  border-radius: 0 0 2px 2px;
  background-color: #a89fbd;
  display: inline-block;
  position: absolute;
  top: 0;
  color: $color_ffffff;
  padding: 8px 14px;

  opacity: 0.9;
  font-family: $font-avenir;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  right: 80px;
  cursor:pointer;
}

.property{
  background:#f7f6f9;
}

.pr__text_left,
.pr__text_right{
  margin-top:40px;
  width:50%;
}

.pr__text_left{
  padding-right:10px;
}

.pr__text_right{
  padding-left:10px;
}

.pr__view_gallery_title{
  display:inline-block;
}

.pr__virtual_tour_title{
  display:inline-block;
}

.pr__view_gallery_title,
.pr__virtual_tour{
  color: #141414;
  font-family: Lora;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.19px;
}

.pr__view_gallery_title,
.pr__virtual_tour_title{
  position:relative;
  top:-6px;
  left:6px;
}

.pr__view_gallery,
.pr__virtual_tour{
  display:inline-block;
  position:absolute;
  top:-70px;
  background:#ffffff;
  cursor:pointer;
}

.pr__virtual_tour{
  right:0;
  padding:12px 28px 6px 20px;
}

.pr__view_gallery{
  right:190px;
  padding:12px 28px 4px 20px;
}

.pr__one_month_free_title{
  display:inline-block;
  position:relative;
  top:-2px;
  margin-left:6px;
}

/* --- */

.pr__available_block{
  margin-top:60px;
  text-align:center;
}

.pr__available_top_title{
  opacity: 0.45;
  color: #141414;
  font-family: "Lyon Display - Medium";
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.pr__available_title{
  color: #141414;
  font-family: "Lyon Display - Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  max-width:260px;
  margin:10px auto;
}

.pr__browse_available{
  color: #ffffff;
  font-family: Lora;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.41px;
  padding:20px 40px;
  display:inline-block;
  background-color: #141414;
  margin-top:20px;
  margin-bottom:20px;
}

.pr__available_text{
  color: rgba(20, 20, 20, 0.7);
  font-family: "Avenir Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  padding-top:20px;
  border-top:1px solid rgba(168, 159, 189, 0.4);
  max-width:230px;
  margin:0 auto;
}

.pr__available_bottom_block{
  margin-top:24px;
}

.pr__available_bottom_form,
.pr__available_bottom_number{
  display:inline-block;
}

.pr__available_bottom_form{
  padding-right:18px;
  position:relative;
  margin-right:13px;
  margin-left:10px;
  color: #a89fbd;
  font-family: "Avenir Heavy";
  font-size: 16px;
  font-weight: 800;
}

.pr__available_bottom_form:after{
  display:block;
  position:absolute;
  top:4px;
  height:14px;
  width:1px;
  background:rgba(168, 159, 189, 0.4);
  content:'';
  right:0;
}

.pr__available_bottom_number{
  margin-left:10px;
}

.pr__available_bottom_number{
  color: #a89fbd;
  font-family: "Avenir Heavy";
  font-size: 16px;
  font-weight: 800;
}

.pr__available_bottom_block img{
  position:relative;
  top:4px;
}

/* -apartments- */

.apartments__title{
  color: #141414;
  font-family: "Lyon Display - Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

.apartments__top{
  margin-top:40px;
  opacity: 0.9;
  color: #141414;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  border-bottom:1px solid rgba(168, 159, 189, 0.4);
  padding-bottom:6px;
  cursor:pointer;
}

.apartments__top i{
  float:right;
  position:relative;
  top:5px;
  font-size:26px;
}

/* -apartments- */

.apartments__table{
  margin-top:20px;
  border-collapse: collapse;
  display: none;
}

.apartments__table td{
  color: rgba(20, 20, 20, 0.7);
  font-family: Avenir;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}

.apartments__table
.apartments__table_title td{
  opacity: 0.45;
  color: #141414;
  font-family: "Lyon Display - Medium";
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.apartments
.apartments__table
tr.apartments__table_title {
  background:none;
}

.apartments__table tr:nth-child(2n) {
  background:#f8f7fa;
}

.apartments__table tr:nth-child(2n+1) {
  background:#fefefe;
}

.apartments__table_one a{
  text-decoration:none;
  display:inline-block;
  position:relative;
}

.apartments__table_one{
  padding-left:12px;
}

.apartments__table_one img{
  margin-right:10px;
  position:relative;
  top:0px;
}

.apartments__table_view{
  opacity: 0.7;
  color: #141414;
  font-family: "Avenir Medium";
  font-size: 11px;
  font-weight: 500;
  line-height: 21px;
  text-decoration: underline;
  position:absolute;
  bottom:-8px;
}

.apartments__table_contact{
  color: #ffffff!important;
  font-family: Lora;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.41px;
  display:inline-block;
  padding:12px 0;
  background-color: #a89fbd;
  text-align:center;
  width:100%;
}

.apartments__table_avaliable{
  color: #ffffff!important;
  font-family: Lora;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.41px;
  display:inline-block;
  padding:12px 0;
  background-color: #141414;
  width:100%;
  text-align:center;
}

.apartments__table
.apartments__table_one{
  width:25%;
}

.apartments__table_two{
  width:20%;
}

.apartments__table_three{
  width:20%;
}

.apartments__table_four{
  width:20%;
}

.apartments__top {
  .js_apartments__arrow_up {
    display: none;
  }
}

/*  apartments__quote  */

.apartments__quote{
  margin-top:30px;
  text-align:center;
}

.apartments__quote_center{
  display:inline-block;
  border: 1px solid rgba(20, 20, 20, 0.1);
  border-radius: 2px;
  padding:10px;
  opacity: 0.5;
  color: #141414;
  font-family: "Avenir Light";
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
}

.apartments__quote img{
  margin-right:10px;
  position:relative;
  top:2px;
}

/* -apartments__free- */

.apartments__free{
  margin-top:50px;
  border:1px solid #fac800;
}

.apartments__free_top{
  background:#fac800;
  padding:5px 10px;
  opacity: 0.9;
  color: #ffffff;
  font-family: "Avenir Black";
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.apartments__free_top img{
  position:relative;
  top:2px;
  margin-right:6px;
}

.apartments__free_center{
  padding:30px;
  display:flex;
}

.apartments__free_left{
  flex-shrink: 0;
  margin-right:30px;
}

.apartments__free_right_top{
  opacity: 0.45;
  color: #141414;
  font-family: "Lyon Display - Medium";
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.apartments__free_right_title{
  opacity: 0.9;
  color: #141414;
  font-family: Avenir;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-top:8px;
}

.apartments__free_right_title img{
  margin-right:6px;
}

.apartments__free_right_description{
  opacity: 0.7;
  color: #141414;
  font-family: "Avenir Book";
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
  margin-top:14px;
}

/* -- */

.building{
  margin-top:60px;
}

.building__title{
  color: #141414;
  font-family: "Lyon Display - Bold";
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}