.button_white{
  display:inline-block;
  background-color: #ffffff;
  padding:24px 40px;
  text-decoration:none;
  border: 1px solid #ffffff;

  color: #818181;
  font-family: $font-lora;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.52px;
}

.button_white:hover{
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.button_transparent{
  padding:26px 42px;
  border: 1px solid #ffffff;
  text-decoration:none;

  color: #ffffff;
  font-family: $font-lora;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.52px;
}

.button_transparent:hover{
  background-color: #ffffff;
  color: #818181;
  border: 1px solid #818181;
}

.g_button{
  color: $color_141414;
  font-family: $font-lora;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.41px;
  text-decoration:none;
  border: 1px solid $color_141414;
  display:inline-block;
  padding:25px 43px;
}

.js_button{
  position:absolute;
  display:inline-block;
}

.g_button_back{
  color: $color_141414;
  font-family: $font-lora;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.41px;
  text-decoration:none;
  padding:14px 21px;
  border: 1px solid $color_rgba_20_20_20__45;
}

@media screen and (max-width: 767px) { /* mobile */
  .button_white {
    max-width: 320px;
  }

  .button_transparent{
    max-width: 320px;
  }

  .g_button{
    font-size: 14px;
    letter-spacing: 1.52px;
  }
}