.filter {
  padding: 60px 80px 0;
  position: relative;

  .filter__title {
    color: $color_141414;
    font-family: $font-lyon;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 16px;
  }

  .filter_ico {
    position: relative;
    float: right;
    display: inline-block;
    cursor: pointer;
  }

  .filter__block {
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 3px 10px rgba(100, 94, 112, 0.15);
    background-color: $color_ffffff;
    padding: 45px;
  }

  .filter__block ul {
    list-style-type: none;
  }

  .filter__block ul li {
    margin-bottom: 24px;
  }

  .filter__block_left {
    flex: 1 1 auto;
  }

  .filter__block_center {
    flex: 1 1 auto;
  }

  .filter__block_right {
    flex: 1 1 auto;
  }

  .filter__buttons {
    width: 100%;
  }

  .filter__buttons {
    text-align: right;
  }

  .filter__button_clear {
    display: inline-block;
    color: $color_a89fbd;
    font-family: $font-lora;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.41px;
    cursor: pointer;
  }

  .filter__button_filter {
    display: inline-block;
    border: 1px solid $color_141414;
    color: $color_141414;
    font-family: $font-lora;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.41px;
    padding: 25px 43px;
    margin-left: 34px;
    cursor: pointer;
  }

  .filter__block_title {
    opacity: 0.45;
    color: $color_141414;
    font-family: $font-lyon;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.3px;
  }

  label {
    font-family: $font-avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: $color_rgba_20_20_20__45;
  }

  .filter__the_feature_select {
    display: flex;
    position: relative;
  }

  .filter__the_feature_select .filter__the_feature_item {
    border-radius: 2px;
    background-color: $color_f1f0f4;
    color: $color_a89fbd;
    font-family: $font-avenir;
    font-size: 10px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 9px 33px 10px 15px;
    position: relative;
    margin-right: 15px;
  }

  .filter__the_feature {
    margin-top: 40px;
  }

  .filter__the_feature input {
    width: 100%;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-radius: 0;
    padding-bottom: 10px;
    margin-bottom: 14px;
  }

  .filter__input_block {
    position: relative;
    display: inline-block;
    width: 80%;
  }

  .filter__input_block i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $color_000000;
    opacity: 0.3;
  }

  .filter__locations input,
  .filter__type_of_living input {
    width: 20px;
    height: 21px;
    border-radius: 1px;
    background-color: $color_a89fbd;
    opacity: 0.15;
  }

  .filter__the_feature_select
  .filter__the_feature_close {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30px;
    cursor: pointer;
  }

  .filter__the_feature_select
  .filter__the_feature_close:before {
    position: absolute;
    content: '';
    height: 10px;
    width: 2px;
    background-color: $color_rgba_168_159_189__40;
    top: 11px;
    right: 15px;
    transform: rotate(-45deg);
  }

  .filter__the_feature_select
  .filter__the_feature_close:after {
    position: absolute;
    content: '';
    height: 10px;
    width: 2px;
    right: 15px;
    top: 11px;
    background-color: $color_rgba_168_159_189__40;
    transform: rotate(45deg);
  }

  /* --- */

  .filter__special_offers_text {
    color: $color_141414;
    font-family: $font-avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: -1px;
  }

  .filter__special_offers_tumbler {
    display: inline-block;
    float: right;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  .switch input {
    display: none;
  }

  /* The slider */
  .slider-checkbox {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color_cccccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider-checkbox:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input.primary:checked + .slider-checkbox {
    background-color: $color_2196F3;
  }

  input:checked + .slider-checkbox:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider-checkbox.round {
    border-radius: 34px;
  }

  .slider-checkbox.round:before {
    border-radius: 50%;
  }

  input[type=checkbox].css-checkbox + label.css-label.css-parent{
    padding-left:32px;
  }

  .slider.slider-horizontal .tooltip{
    transform: none;
  }

  .filter__bedrooms_start,
  .filter__bedrooms_end,
  .filter__bathrooms_start,
  .filter__bathrooms_end,
  .filter__price_start,
  .filter__price_end{
    display:inline-block;
    color: $color_141414;
    font-family: $font-avenir;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .filter__locations
  .filter__block_title,
  .filter__type_of_living
  .filter__block_title,
  .filter__the_feature
  .filter__block_title{
    margin-bottom: 20px;
  }

  .filter__bedrooms,
  .filter__bathrooms,
  .filter__price_range{
    margin-bottom: 20px;
  }

  .filter__special_offers_only{
    margin-bottom: 20px;
    margin-top:40px;
  }

  .filter__buttons{
    margin-top:40px;
  }

  .filter__bedrooms
  .filter__block_title,
  .filter__bathrooms
  .filter__block_title,
  .filter__price_range
  .filter__block_title{
    margin-bottom:0;
  }


}

@media screen and (max-width: 1199px) {
  .filter__block_right{
    margin-top:26px;
  }
}

@media screen and (max-width: 991px) {
  .filter {
    .filter__block_left,
    .filter__block_center {
      width: 100%;
    }

    .filter__block_center {
      margin-top: 26px;
    }

    .filter__block {
      padding: 45px 20px;
    }
  }
}

@media screen and (max-width: 768px) {
  .filter {
    padding: 60px 0;

    .filter__title{
      padding:0 10px;
    }
  }
}

/* results */

.filter__result_blocks{
  display:flex;
  flex-wrap: wrap;
}

.filter__r_item{
  margin-top:10px;
  flex:1 1 auto;
  width:50%;
  position:relative;
}

.filter__result_blocks .filter__r_item:nth-child(odd){
  padding-right:10px;
}

.filter__result_blocks .filter__r_item:nth-child(even){
  padding-left:10px;
}

.filter__r_item_location{
  opacity: 0.45;
  color: $color_141414;
  font-family: $font-lyon;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.3px;
}

.filter__r_item_title{
  opacity: 0.9;
  color: $color_141414;
  font-family: $font-avenir;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-top:10px;
}

.filter__r_item_price{
  opacity: 0.7;
  color: $color_141414;
  font-family: $font-avenir;
  font-size: 14px;
  font-weight: 300;
  line-height: 28px;
}

.filter__r_description{
  display:flex;
  flex-wrap:wrap;
  padding:30px;
}

.filter__r_button{
  margin-top:30px;

  float:right;
  border-radius: 2px;
  background-color: $color_a89fbd;
  color: $color_ffffff;
  padding:10px 15px;

  font-family: $font-avenir;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor:pointer;
  text-decoration:none;
  display:inline-block;
}

.filter__r_description_left{
  flex:1 1 auto;
  padding-right:16px;
}

.filter__r_premium{
  border-radius: 0 0 2px 2px;
  background-color: $color_fac800;
  display:inline-block;
  position:absolute;
  top:1px;
  color:$color_ffffff;
  padding:10px 12px;

  opacity: 0.9;
  font-family: $font-avenir;
  font-size: 10px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  left:40px;
}

.filter__r_premium img{
  margin-right:6px;
  position:relative;
  top:2px;
}

@media screen and (max-width: 768px) {
  .filter__r_item{
    width: 100%;
  }
}

/* pagination */

.filter__pagination_right_arrow{
  background: url(../img/arrow_right_b.png);
}

.filter__pagination_left_arrow{
  background: url(../img/arrow_left.png);
}

.filter__pagination{
  position:relative;
  display:flex;
  justify-content:space-between;
  margin-top:60px;
  flex-wrap:wrap;
}

.filter__pagination_left_arrow{
  padding: 15px 22px;
  width: 52px;
  height: 52px;
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
  cursor:pointer;
  margin:8px;
}

.filter__pagination_item_active{
  color: $color_ffffff;
  font-family: $font-lora;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.41px;
  border: 1px solid $color_141414;
  background-color: $color_141414;
  padding:15px 22px;
  margin:8px;
  cursor:pointer;
  width: 52px;
  height: 52px;
}

.filter__pagination_item{
  border: 1px solid $color_rgba_20_20_20__45;
  color: $color_141414;
  font-family: $font-lora;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.41px;
  padding:15px 22px;
  margin:8px;
  cursor:pointer;
  width: 52px;
  height: 52px;
}


.filter__pagination_right_arrow{
  padding: 15px 22px;
  width: 52px;
  height: 52px;
  background-position:center;
  background-repeat:no-repeat;
  background-size: contain;
  cursor:pointer;
  margin:8px;
}

.filter__pagination_center{
  display:flex;
}

/* styles for slider line into filter */

.irs-slider {
  width: 17px!important;
  height: 17px!important;
  top: 20px!important;
}

.irs-slider.state_hover,
.irs-slider:hover{
  background-position: 0 -120px!important;
}

/* hover */

.filter__r_item_a_hover_arrow {
  background: url(../img/b_arrow_right.png) center no-repeat;
  height: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.filter__r_item_block_hover{
  position:relative;
}

.filter__r_item_a_hover_center{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding-top:30%;
  text-align:center;
  color: $color_ffffff;
  font-family: $font-lyon;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  text-decoration:none;
  display:none;
}

.filter__r_item_a_hover_bath{
  position:absolute;
  bottom:50px;
  left:30px;
  font-family: $font-avenir;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.filter__r_item_a_hover_bed{
  position:absolute;
  bottom:22px;
  left:30px;
  font-family: $font-avenir;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.filter__r_item_a_hover_bed img,
.filter__r_item_a_hover_bath img{
  margin-right:7px;
}

.filter__r_item_a_hover_link_background{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: $color_000000;
  opacity:0.5;
  cursor:pointer;
  display: none;
}

.filter__r_item_img_block_hover{
  vertical-align:bottom;
  width:100%;
}

.filter__r_item_block_hover:hover{
  .filter__r_item_a_hover_center,
  .filter__r_item_a_hover_link_background{
    display:inline-block;
  }
}