.hotel_style_living__ico{
  text-align:center;
}

.hotel_style_living__block h2{
  text-align:center;
}

.hotel_style_living__text_1{
  text-align:center;
}

.hotel_style_living__images_block{
  text-align:center;
  margin-left:30px;
}

.hotel_style_living__images_block img{
  display:inline-block;
  margin-right:30px;
}

.hotel_style_living__text_2{
  text-align:center;
}