.reviews_slider{
  background-size: cover;

  .reviews_slider__container{
    max-width:970px;
    width:100%;
    text-align:center;
    padding-top:90px;
    padding-bottom:60px;
  }

  .reviews_slider__text{
    max-width:630px;
    width:100%;
    margin:0 auto;
  }

  .reviews_slider__text {
    color: $color_ffffff;
    font-family: $font-avenir;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  .reviews_slider__name {
    color: $color_ffffff;
    font-family: $font-lyon;
    font-size: 26px;
    font-weight: 700;
    line-height: 46px;
    margin-top: 20px;
  }

  .reviews_slider__location {
    opacity: 0.6;
    color: $color_ffffff;
    font-family: $font-lyon;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-top: 5px;
  }

  .reviews_slider__pagination{
    position: relative;
    margin-top: 12px;

    .swiper-pagination-bullet{
      border-radius: initial;
      width: 12px;
      height: 2px;
      background-color: #ffffff;
      opacity: 0.4;
    }

    .swiper-pagination-bullet-active {
      width: 22px;
      height: 2px;
      background-color: #ffffff;
      opacity: 1;
    }
  }

  .reviews_slider__button_next{
    background: url(../img/b_arrow_right.png);
    background-repeat: no-repeat;
    width: 54px;
    background-position: center;
    top: 50%;
  }

  .reviews_slider__button_prev{
    background: url(../img/b_arrow_left.png);
    background-repeat: no-repeat;
    width: 54px;
    background-position: center;
    top: 50%;
  }
}

@media screen and (max-width: 1199px) { /* ipad */
  .reviews_slider{
    .reviews_slider__container{
      padding-top:126px;
      padding-bottom: 124px;
    }

    .reviews_slider__text{
      max-width:380px;
      width:100%;
      margin-top:30px;
    }

    .reviews_slider__name{
      margin-top:44px;
    }

    .reviews_slider__pagination{
      margin-top:16px;
    }

    .reviews_slider__button_next{
     margin-right:40px;
    }

    .reviews_slider__button_prev{
      margin-left:40px;
    }
  }
}

@media screen and (max-width: 767px) { /* mobile */
  .reviews_slider {
    .reviews_slider__container {
      padding-top: 85px;
      padding-bottom: 74px;
    }

    .reviews_slider__text{
      max-width:238px;
      width:100%;
    }

    .reviews_slider__name{
      margin-top:37px;
    }

    .reviews_slider__button_next{
      margin-right:0;
      background: url(../img/shape_right.png);
      background-repeat: no-repeat;
      background-position: center center;
    }

    .reviews_slider__button_prev{
      margin-left:0;
      background: url(../img/shape_left.png);
      background-repeat: no-repeat;
      background-position: center center;
    }

  }
}