.sect-7 {
    padding-top: 130px;
    padding-bottom: 125px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(180deg, rgba(140, 136, 148, 0.7) 0%, rgba(77, 73, 87, 0.95) 100%);
    }

    @include breakpoint(small) {
        padding-top: 115px;
        padding-bottom: 130px;
    }

    .sect-title {
        color: #fff;
    }

    .sect-7__content {
        position: relative;
        z-index: 2;
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
        font-family: 'Avenir', sans-serif;
        text-align: center;
        color: #fff;
    }

    .sect-7__text {
        margin-top: 50px;
        margin-bottom: 75px;
        opacity: 0.9;
        font-size: 16px;
        line-height: 28px;
        color: rgba(255, 255, 255, 0.7);

        @include breakpoint(extra-small) {
            margin-top: 20px;
            margin-bottom: 30px;
            padding: 0 20px;
            
        }
    }
}