@import "variables";
@import "fonts";
@import "typography";

//base styles, and base classes like wrappers, containers or clearfix...

.large-container {
    max-width: 1290px;
    margin: 0 auto;
}

.default-container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1100px;
}

.default-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.default-col-md-6 {
    width: 100%;
    padding: 0 15px;
    @media (min-width: 768px) {
        width: 50%;
    }
}

.default-col-lg-6 {
    width: 100%;
    padding: 0 15px;
    @media (min-width: 992px) {
        width: 50%;
    }
}

.hidden-md {
    @include breakpoint(small) {
        display: none;
    }
}